<ion-header>
  <span (click)="toggleView()">
    <strong id="mes">{{ selectedView }}</strong>
    <ion-icon 
    style="margin: 0 5px;"
    name="chevron-down-outline">
  </ion-icon>
  </span>

</ion-header>

<div *ngIf="mostrarViewPicker" class="viewSelect">
  <div class="list-view">
    <div class="item-view"button (click)="selectView('Transações')">
      <ion-label id="transacoes-label">Transações</ion-label>
    </div>
    <div class="item-view"button (click)="selectView('Despesas')">
      <ion-label id="despesas-label">Despesas</ion-label>
    </div>
    <div class="item-view"button (click)="selectView('Receitas')">
      <ion-label id="receitas-label">Receitas</ion-label>
    </div>
  </div>
</div>

<div class="back" *ngIf="mostrarViewPicker" (click)="cancelar()"></div>

<ion-content #page [fullscreen]="true">

  <app-month-navigation (monthChanged)="updateTransactionsByMonth($event)"></app-month-navigation>

  <ion-segment-view>
    <ion-segment-content *ngIf="selectedView === 'Despesas'" id="despesas">
      <app-list-expenses [month]="currentMonth"></app-list-expenses>
    </ion-segment-content>
  </ion-segment-view>

  <!-- Segment Receitas -->
  <ion-segment-view>
    <ion-segment-content *ngIf="selectedView === 'Receitas'" id="receitas">
      <app-list-receives [month]="currentMonth"></app-list-receives>
    </ion-segment-content>
  </ion-segment-view>

</ion-content>