@import "../../mixins/segment-mixin.scss";

@include segment-style;

* {
  font-family: "Inria Sans";
}


ion-header {
  box-shadow: none;
  border-bottom: 1px solid var(--ion-contrast);
  background-color: var(--ion-background-color);
  padding: 0 25px;
  height: 8vh;

  display: flex;
  align-items: center;

  ion-title {
    padding: 0 !important;
  }
}

main {
  padding: 15px;
  .resumo {
    margin-top: 25px;
    p {
      font-size: 13px;
      font-weight: bold;
      color: var(--ion-text-color);
    }
  }
}

.pendente {
  color: #da5000;
}

.pago {
  color: #3eb69a;
}

.cartao {
  color: #0099ffc4;
}

.despesas {
  display: flex;
  flex-direction: column;
  gap: 13px;

  .despesa-item {
    border-radius: 5px;
    height: 45px;
    background-color: var(--ion-item-background);

    .despesa-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      height: 100%;

      .esquerda {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon {
          background-color: #9d9d9d;
          border-radius: 50%;
          padding: 5px;
          width: 33px;
          height: 33px;
          font-size: 20px;
          margin: 0 5px;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .esquerda div {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .banco {
          margin: 0;
          font-size: 12px;
          color: var(--ion-text-color);
        }
      }

      .direita {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .details {
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: flex-end;
          ion-icon {
            width: 15px;
            height: 15px;
          }
        }
      }

      h4,
      h5 {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

ion-grid {
  padding: 5px 0;
  height: 300px;
  border-radius: 20px;

  .header-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--ion-border-color);

    ion-col {
      display: flex;
      flex-direction: column;
      align-items: center;

      ion-icon {
        width: 20px;
        height: 20px;
      }

      ion-label {
        font-size: 14px;
        color: var(--ion-text-color2);
      }
    }
  }

  ion-row {
    ion-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 55px;

      ion-label {
        font-size: 14px;
        color: var(--ion-text-color2);
      }

      span {
        font-size: 14px;
        font-weight: bold;
        color: var(--ion-text-color);
      }
    }

    .buttons {
      display: flex;
      align-items: center;

      ion-button {
        width: 100%;
      }
    }
  }
}
