<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>Transações</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content #page [fullscreen]="true">
  <ion-segment value="despesas" class="segment" [(ngModel)]="segmentValue">
    <ion-segment-button value="despesas" class="segment-button">
      <ion-label class="label">Despesas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="receitas" class="segment-button">
      <ion-label class="label">Receitas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-month-navigation (monthChanged)="updateTransactionsByMonth($event)"></app-month-navigation>

  <main *ngIf="segmentValue === 'despesas'" class="transactions">
    <div class="resumo">
      <p>Gasto em {{ currentMonth.format('MMMM YYYY') }}: {{ calcularTotalDespesas() | currency }}</p>
      <p>Pendente: {{ calcularTotalPendentes() | currency }}</p>
    </div>
    <div class="despesas">
      <div *ngFor="let despesa of despesasFiltradas" class="despesa-item" (click)="openModal(despesa)" expand="block">
        <div class="despesa-info">
          <div class="esquerda">
            <fa-icon *ngIf="getIconByCategoryId(despesa.categoria_id) as icon" [icon]="icon" class="icon"></fa-icon>

            <div>
              <h4>{{ despesa.descricao }}</h4>
              <p class="banco" *ngIf="despesa.conta_id">{{ getAccountNameById(despesa.conta_id) }}</p>
              <p class="banco" *ngIf="despesa.cartao_id">{{ getCardNameById(despesa.cartao_id) }}</p>
            </div>
          </div>
          <div class="direita">
            <h5 *ngIf="despesa.valor"> {{ despesa.valor | currency }}</h5>
            <!-- PARCELADA -->
            <h5 *ngIf="despesa.cartao_id"> {{ despesa.valor_parcela | currency }}</h5>

            <div class="details">
              <ion-icon *ngIf="despesa.cartao_id" class="cartao" name="card"></ion-icon>
              <ion-icon *ngIf="despesa.status === 'pago'" class="pago" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="despesa.status === 'pendente'" class="pendente" name="alert-circle"></ion-icon>
            </div>
          </div>
        </div>
      </div>

      <ion-modal #modal [isOpen]="isModalOpen" [componentProps]="{ despesa: selectedDespesa }" [initialBreakpoint]="0.5"
        [breakpoints]="[0, 0.5]" (ionModalDidDismiss)="closeModal()">>
        <ng-template>
          <ion-content>
            <ion-grid>
              <ion-row class="header-grid">
                <ion-col *ngIf="selectedDespesa?.status === 'pendente'">
                  <ion-icon class="pendente" name="alert-circle"></ion-icon>
                  <ion-label>Pendente</ion-label>
                </ion-col>
                <ion-col *ngIf="selectedDespesa?.status === 'pago'">
                  <ion-icon class="pago" name="checkmark-circle"></ion-icon>
                  <ion-label>Pago</ion-label>
                </ion-col>
                <ion-col *ngIf="selectedDespesa?.cartao_id">
                  <ion-icon class="cartao" name="card"></ion-icon>
                  <ion-label>Despesa Cartão</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>Descrição:</ion-label>
                  <span>{{ selectedDespesa?.descricao }}</span>
                </ion-col>
                <ion-col>
                  <ion-label>Valor:</ion-label>
                  <span>{{ selectedDespesa?.valor | currency }}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>Conta/Cartão:</ion-label>
                  <span>{{ getAccountNameById(selectedDespesa?.conta_id) }}</span>
                </ion-col>
                <ion-col>
                  <ion-label>Categoria:</ion-label>
                  <span>{{ getCategoryNameById(selectedDespesa?.categoria_id) }}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="buttons">
                  <ion-button fill="outline" color="warning">Editar Despesa</ion-button>
                  <ion-button fill="outline" color="success"
                    *ngIf="selectedDespesa?.status === 'pendente'">Pagar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </main>


  <div *ngIf="segmentValue === 'receitas'">
    <div class="receitas">
    </div>
  </div>
</ion-content>