* {
  font-family: "Inria Sans";
}

.cartao-container {
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 15px;

  ion-card-header {
    padding: 0;

    ion-button {
      --color-selected: var(--color-hover);
      --color: var(--color-hover);
    }

    ion-icon,
    img {
      width: 25px;
      height: 25px;
      color: var(--ion-contrast);
      cursor: pointer;
    }

    ion-avatar {
      margin: 0;
      display: flex;
      align-items: center;

      ion-icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  ion-card-header div {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--ion-border-color);
    color: var(--ion-text-color);
  }

  ion-card-content {
    margin-top: 10px;
    padding: 0;

    ion-icon,
    img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: var(--ion-contrast);
    }
  }

  ion-card-content .item {
    border: 1px solid var(--ion-border-color);
    border-radius: 5px;
    margin-top: 5px;

    display: flex;
    width: 100%;
    flex-direction: column;

    .item-content {
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    div {
      display: flex;
      flex-direction: row;

      ion-label p {
        font-size: 13px;
        color: var(--ion-text-color2);
        font-weight: bold;
      }
    }

    .saldo {
      display: flex;
      flex-direction: column;
      span {
        font-size: 14px;
        font-weight: bold;
        color: var(--ion-text-color2);
      }
    }
  }
}

// "Minhas contas"
h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  color: var(--ion-text-color);
}

ion-button {
  --padding-top: 0;
  --padding-bottom: 0;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50; /* Cor da parte utilizada */
  transition: width 0.5s ease-in-out;
}

ion-grid {
  padding: 5px 0;
  height: 300px;
  border-radius: 20px;

  .header-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--ion-border-color);

    ion-col {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      ion-icon {
        width: 20px;
        height: 20px;
      }

      ion-label {
        font-size: 14px;
        color: var(--ion-text-color2);
      }
    }
  }

  ion-row {
    ion-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 55px;

      ion-label {
        font-size: 14px;
        color: var(--ion-text-color2);
      }

      span {
        font-size: 14px;
        font-weight: bold;
        color: var(--ion-text-color);
      }
    }

    .buttons {
      display: flex;
      align-items: center;

      ion-button {
        width: 100%;
      }
    }
  }
}
