<ion-card class="cartao-container">
  <ion-card-header>
    <div lines="none">
      <ion-label>
        <h2>Meus cartões</h2>
      </ion-label>
      <ion-button slot="end" fill="clear" size="small" (click)="addCard()" >
        <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://logo.clearbit.com/nubank.com" alt="Nubank Logo" />
      </ion-avatar>

      <ion-label>
        <p>Cartão de crédito</p>
        <h3>Nubank</h3>
      </ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>