<div class="saldo-container">
  <div class="saldo">
    <span style="display: flex; align-items: center; width: 100%; justify-content: center;" (click)="toggleDatePicker()">
      <strong id="mes">{{ nomeMes }} / {{ anoSelecionado }}</strong>
      <ion-icon 
        style="margin: 0 5px;"
        [name]="mostrarDatePicker ? 'chevron-up-outline' : 'chevron-down-outline'">
      </ion-icon>
    </span>

    <ion-text class="valor-saldo" [color]="calcularDiferencaSaldo() >= 0 ? 'success' : 'danger'">
      <span>Saldo em contas</span>
      <p *ngIf="mostrarValores">{{ calcularDiferencaSaldo() | currency:'BRL':'symbol':'1.2-2' }}</p>
      <p *ngIf="!mostrarValores">******</p>
    </ion-text>

    <ion-icon 
      [name]="mostrarValores ? 'eye-off-outline' : 'eye-outline'" 
      id="eye" 
      (click)="toggleValores()">
    </ion-icon>
  </div>

  <div *ngIf="mostrarDatePicker">
    <div class="date-picker-container">
      <div class="date-picker">
        <div class="year-selector">
          <ion-icon name="chevron-back-outline" (click)="mudarAno(-1)"></ion-icon>
          <span>{{ anoSelecionado }}</span>
          <ion-icon name="chevron-forward-outline" (click)="mudarAno(1)"></ion-icon>
        </div>
        <div class="month-list">
          <div 
            class="month-item" 
            *ngFor="let mes of mesesAbreviados; let i = index" 
            (click)="selecionarMes(i)"
            [class.selected]="mesSelecionado === i">
            {{ mes }}
          </div>
        </div>
      </div>

      <div class="date-picker-footer">
        <span class="button" id="cancel" (click)="cancelar()">Cancelar</span>
        <span class="button" id="mes-atual" (click)="mesAtual()">Mês Atual</span>
      </div>
    </div>
  </div>

  <!-- Detalhes financeiros -->
  <div class="detalhes-financeiros">
    <ion-chip outline>
      <ion-icon color="success" name="cash"></ion-icon>
      <div>
        <ion-label>Receita</ion-label>
        <p *ngIf="mostrarValores">{{ calcularTotalReceitas() | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p *ngIf="!mostrarValores">******</p>
      </div>
    </ion-chip>

    <ion-chip outline>
      <ion-icon color="danger" name="cash"></ion-icon>
      <div>
        <ion-label>Despesa</ion-label>
        <p *ngIf="mostrarValores">{{ calcularTotalDespesas() | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p *ngIf="!mostrarValores">******</p>
      </div>
    </ion-chip>
  </div>
</div>

<div class="back" *ngIf="mostrarDatePicker" (click)="cancelar()"></div>
