<ion-header [translucent]="true">
    <div>
      <ion-title>Categorias</ion-title>

      <div>
        <ion-button slot="end" fill="clear" size="small" *ngIf="segmentValue === 'despesas'" (click)="addCategory('despesa')">
          <ion-icon name="add-circle" color="light"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" size="small" *ngIf="segmentValue === 'receitas'" (click)="addCategory('receita')">
          <ion-icon name="add-circle" color="light"></ion-icon>
        </ion-button>
      </div>
    </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentValue" value="despesas" class="segment">
    <ion-segment-button value="despesas" class="segment-button">
      <ion-label class="label">Despesas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="receitas" class="segment-button">
      <ion-label class="label">Receitas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentValue === 'despesas'">
    <div class="categories">
      <div *ngFor="let category of expenseCategories" class="category" (click)="selectCategory(category.nome)">
        <fa-icon [icon]="category.icone"></fa-icon> <!-- Aqui deve ser um IconDefinition -->
        <p>{{ category.nome }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="segmentValue === 'receitas'">
    <div class="categories">
      <div *ngFor="let category of incomeCategories" class="category" (click)="selectCategory(category.nome)">
        <fa-icon [icon]="category.icone"></fa-icon> <!-- Aqui deve ser um IconDefinition -->
        <p>{{ category.nome }}</p>
      </div>
    </div>
  </div>
</ion-content>