@import "../../mixins/segment-mixin.scss";

@include segment-style;

* {
    font-family: "Inria Sans";
}
ion-button {
    --color-selected: var(--color-hover);
    --color: var(--color-hover);
}

ion-header {
    box-shadow: none;
    border-bottom: 1px solid var(--ion-contrast);
    height: 8vh;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ion-background-color);

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        ion-title {
            padding: 0 !important;
        }
    }

    ion-icon {
        width: 25px;
        height: 25px;
        color: var(--ion-contrast);
        cursor: pointer;
    }
}

.categories {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 5px;

    .category {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--ion-item-background);
        border-radius: 5px;

        height: 40px;

        img,
        ion-icon,
        fa-icon {
            font-size: 18px;
            border-radius: 50%;
            color: var(--ion-contrast);
            object-fit: contain;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: 13px;
            font-weight: bold;
            color: #000;
            margin: 0 10px;
        }
    }

    .category:hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        background-color: #a7a7a7;
    }
}
