<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>Categorias</ion-title>
      <ion-button slot="end" fill="clear" size="small">
        <ion-icon name="add-circle" color="light"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar id="searchbar" placeholder="Pesquisar"></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Categorias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="category-container">
        <ion-chip outline="false">
          <ion-icon ></ion-icon>
          <ion-label>{{ category.name }}</ion-label>
        </ion-chip>
      </div>

      <h3 style="color: #000; font-size: 16px; margin: 10px 0;"  *ngIf="categoriasReceitas.length > 0">Novas</h3>
      <div class="category-container">
        <ion-chip *ngFor="let category of categoriasReceitas" outline="false" (click)="showActionsPopover($event, category)">
          <ion-icon [name]="category.icon" color="primary"></ion-icon>
          <ion-label>{{ category.name }}</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content> -->
