<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nova Despesa Cartão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="transacaoForm">
    <div class="container-item">
      <label position="stacked">Descrição</label>
      <ion-input type="text" formControlName="name" class="custom-input"></ion-input>
    </div>

    <div class="container-item" id="open-modal-account" expand="block">
      <label position="stacked">Conta</label>
      <div class="custom-input" style="display: flex; align-items: center;">
        <p style="margin: 0;"> {{ selectedAccount || 'Selecione uma conta' }} </p>
      </div>
    </div>

    <div class="container-item" id="open-modal-categories" expand="block">
      <label position="stacked">Categoria</label>
      <div class="custom-input" style="display: flex; align-items: center;">
        <p style="margin: 0;"> {{ selectedCategory || 'Selecione uma categoria' }}</p>
      </div>
    </div>

    <div class="container-item" id="open-modal-invoice" expand="block">
      <label position="stacked">Fatura</label>
      <div class="custom-input" style="display: flex; align-items: center;">
        <p style="margin: 0;"> {{ selectedInvoice || 'Selecione uma fatura' }}</p>
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <div class="container-item">
            <label position="stacked">Data</label>
            <ion-input type="date" formControlName="date" class="custom-input"></ion-input>
          </div>
        </ion-col>

        <!-- Mostra o valor normal quando não é parcelado -->
        <ion-col size="6" *ngIf="!parcelado">
          <div class="container-item">
            <label position="stacked">Valor</label>
            <ion-input type="text" formControlName="amount" class="custom-input"></ion-input>
          </div>
        </ion-col>

        <ion-col size="6" *ngIf="parcelado">
          <div class="container-item">
            <label position="stacked">Valor Parcela</label>
            <ion-input type="text" formControlName="installmentValue" class="custom-input"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <div class="container-item">
            <label position="stacked">Detalhes</label>
            <div>
              <ion-toggle slot="start" class="custom-input" (ionChange)="toggleParcelado($event)">Parcelado</ion-toggle>
            </div>
          </div>
        </ion-col>

        <ion-col size="6" *ngIf="parcelado">
          <div class="container-item">
            <label position="stacked">Quantidade</label>
            <ion-input type="text" formControlName="installmentCount" class="custom-input"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button [disabled]="transacaoForm.invalid" (click)="submitAccount()" class="submit-button">Adicionar
      Despesa Cartão</button>
  </form>

  <ion-modal trigger="open-modal-account" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Conta</p>
        </div>
        <div class="accounts">
          <div *ngFor="let account of accounts" class="account" (click)="selectAccount(account)">
            <ion-icon *ngIf="!account.logo_url" name="wallet"></ion-icon>
            <img *ngIf="account.logo_url" [src]="account.logo_url" alt="{{ account.nome }}" class="logo" />
            <p>{{ account.nome }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-categories" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Categorias</p>
        </div>
        <div class="categories">
          <div *ngFor="let category of categories" class="category" (click)="selectCategory(category)">
            <fa-icon [icon]="category.icone"></fa-icon>
            <p>{{ category.nome }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-invoice" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Fatura</p>
        </div>
        <div class="invoices">
          <div class="invoice" *ngFor="let invoice of invoices" (click)="selectInvoice(invoice.label)">
            <p> {{ invoice.label }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>