@import '../../../mixins/forms.mixin.scss';

* {
    font-family: "Inria Sans";
}

ion-title {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 0;
}
ion-header,
ion-toolbar {
    --background: var(--ion-item-background);
}