<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Despesa Cartão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="transacaoForm">

    <div id="valor_container">
      <h3>Valor</h3>
      <ion-input type="text" formControlName="valor" [maskito]="maskitoPrice" [maskitoElement]="maskPredicate"
        class="custom-input" id="valor-expense">
      </ion-input>
    </div>

    <div class="container-item">
      <label position="stacked">Descrição</label>
      <ion-input type="text" formControlName="descricao"  [clearInput]="true" class="custom-input"
        [ngClass]="{'invalid-input': transacaoForm.get('descricao')?.invalid && transacaoForm.get('descricao')?.touched}">
      </ion-input>
    </div>

    <div class="container-item" id="open-modal-card" expand="block">
      <label position="stacked">Cartão</label>
      <div class="custom-input" style="display: flex; align-items: center;"
        [ngClass]="{'invalid-input': transacaoForm.get('cartao_id')?.invalid && transacaoForm.get('cartao_id')?.touched}">
        <img *ngIf="selectedCardLogo" [src]="selectedCardLogo" alt="{{ selectedCard }}" class="logo"
          style="width: 23px; height: 23px; margin: 0 5px;" />
        <p style="margin: 0;"> {{ selectedCard || 'Selecione um cartão' }} </p>
      </div>
    </div>


    <div class="container-item" id="open-modal-categories" expand="block">
      <label position="stacked">Categoria</label>
      <div class="custom-input" style="display: flex; align-items: center;"
        [ngClass]="{'invalid-input': transacaoForm.get('categoria_id')?.invalid && transacaoForm.get('categoria_id')?.touched}">
        <fa-icon *ngIf="selectedCategoryIcon" [icon]="selectedCategoryIcon"
          style="font-size: 16px; margin: 0 5px;"></fa-icon>
        <p style="margin: 0;"> {{ selectedCategory || 'Selecione uma categoria' }}</p>
      </div>
    </div>


    <div class="container-item" id="open-modal-invoice" expand="block">
      <label position="stacked">Fatura</label>
      <div class="custom-input" style="display: flex; align-items: center;"
        [ngClass]="{'invalid-input': transacaoForm.get('mes_fatura')?.invalid && transacaoForm.get('mes_fatura')?.touched}">
        <p style="margin: 0;"> {{ selectedInvoice || 'Selecione uma fatura' }}</p>
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <div class="container-item">
            <label position="stacked">Data</label>
            <ion-input type="date" formControlName="data" class="custom-input"
              [ngClass]="{'invalid-input': transacaoForm.get('data')?.invalid && transacaoForm.get('data')?.touched}">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>

      <!-- Status -->
      <ion-row>
        <ion-col size="5">
          <div class="container-item">
            <label position="stacked">Status</label>
            <ion-select formControlName="status" interface="popover" class="custom-input">
              <ion-select-option value="pago">Pago</ion-select-option>
              <ion-select-option value="pendente">Pendente</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <div class="container-item">
            <label position="stacked">Detalhes</label>
            <div>
              <ion-toggle checked={{myValue}} (ionChange)="handleInstallmentToggle($event)" class="custom-input">
                Parcelado
              </ion-toggle>
            </div>
          </div>

          <div class="container-item" *ngIf="selectedInstallment">
            <label position="stacked" style="padding: 5px; font-size: 14px; color: var(--ion-text-color2);">
              {{selectedInstallment.label}}
            </label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button (click)="submitTransacao()" class="submit-button">Editar Despesa Cartão</button>
  </form>

  <ion-modal trigger="open-modal-card" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Conta</p>
        </div>
        <div class="elements">
          <div *ngFor="let card of cards" class="element" (click)="selectCard(card)">
            <ion-icon *ngIf="!card.logo_url" name="wallet"></ion-icon>
            <img *ngIf="card.logo_url" [src]="card.logo_url" alt="{{ card.nome }}" class="logo" />
            <p>{{ card.nome }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-categories" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Categorias</p>
        </div>
        <div class="elements">
          <div *ngFor="let category of categories" class="element" (click)="selectCategory(category)">
            <fa-icon [icon]="category.icone"></fa-icon>
            <p>{{ category.nome }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-invoice" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Fatura</p>
        </div>
        <div class="elements">
          <div *ngIf="invoices.length === 0">
            <ion-label color="danger">Selecione o cartão</ion-label>
          </div>

          <div class="element" *ngFor="let invoice of invoices" (click)="selectInvoice(invoice)">
            <ion-label>{{ invoice.label }}</ion-label>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal #installmentModal [isOpen]="isModalOpen" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75]"
    (didDismiss)="closeModal()">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Parcelas</p>
        </div>

        <!-- Entrada para digitar a quantidade de parcelas -->
        <ion-item lines="none">
          <ion-label style="width: 100px; font-size: 14px;">Quantas vezes?</ion-label>
          <ion-input 
          style="text-indent: 15px;" 
          type="number" 
          [(ngModel)]="customInstallmentCount"
          (ionInput)="generateInstallments()">
        </ion-input>
        
        <ion-button (click)="closeModal()" id="button-save-installment">Salvar</ion-button>
        </ion-item>

        <!-- Se o usuário digitou um número, mostra apenas essa opção -->
        <ng-container *ngIf="customInstallmentCount && singleInstallment; else defaultInstallments">
          <ion-list class="elements">
            <div (click)="selectInstallment(singleInstallment)" class="element">
              <ion-label>{{ singleInstallment.label }}</ion-label>
            </div>
          </ion-list>
        </ng-container>

        <!-- Caso contrário, exibe a lista padrão de 12 parcelas -->
        <ng-template #defaultInstallments>
          <ion-list class="elements installments">
            <div class="element" *ngFor="let installment of installments" (click)="selectInstallment(installment)"
              [class.selected]="installment === selectedInstallment">
              <ion-label>{{ installment.label }}</ion-label>
            </div>
          </ion-list>
        </ng-template>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>