<ion-card class="cartao-container">
  <ion-card-header>
    <div lines="none">
      <ion-label>
        <h2>Minhas Contas</h2>
      </ion-label>
      <ion-button slot="end" fill="clear" size="small" (click)="addAccount()" >
        <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="none">
      <ion-item *ngFor="let account of accounts">

        <!-- Mostra o ícone de carteira se não houver logo -->
        <ion-icon *ngIf="!account.logo_url" name="wallet"></ion-icon>

        <!-- Mostra a imagem do logo se disponível -->
        <img *ngIf="account.logo_url" [src]="account.logo_url" alt="{{ account.nome }}" class="logo" />

        <ion-label>
          <h3>{{ account.nome }}</h3> <!-- Exibe o nome da conta -->
        </ion-label>
  
        <div class="saldo">
          <span>Saldo</span>
          <p>R$ {{ account.saldo || '0,00' }}</p> <!-- Exibe o saldo da conta, se disponível -->
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
  
</ion-card>
