// Mixin para o formulário
@mixin form-style() {
    ion-toggle {
        --track-background: #8f8f8f;
        --track-background-checked: #8f8f8f;

        --handle-background: #585858;
        --handle-background-checked: #0092e7;

        --handle-width: 10px;
        --handle-height: 15px;
        --handle-max-height: auto;
        --handle-spacing: 2px;

        --handle-border-radius: 4px;
        --handle-box-shadow: none;
    }

    ion-toggle::part(track) {
        height: 10px;
        width: 30px;

        /* Required for iOS handle to overflow the height of the track */
        overflow: visible;
    }

    .container-item {
        display: flex;
        flex-direction: column;
        gap: 3px;

        label {
            font-size: 16px;
            font-weight: bold;
            padding: 0 3px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .custom-input {
            width: 100%;
            height: 35px;
            min-height: 35px;
            background: var(--ion-item-background);
            border-radius: 5px;
            outline: none;
            border: none;
            letter-spacing: 1px;
            text-indent: 3px;
            font-size: 15px;
            border: 1px solid rgba(128, 128, 128, 0.233);

            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .submit-button {
        width: 100%;
        height: 40px;
        background: var(--ion-contrast);
        border-radius: 5px;
    }
}

// Mixin para a folha (sheet)
@mixin sheet-style($header-bg-color: var(--ion-contrast), $header-height: 40px, $banks-gap: 10px) {
    .sheet-header {
        height: $header-height;
        display: flex;
        align-items: center;
        background-color: $header-bg-color;
        padding: 5px;

        p {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
        }
    }

    .elements {
        overflow-y: auto;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: $banks-gap;
        padding: 10px 5px;

        .element {
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border-radius: 5px;
            background-color: var(--ion-item-background);

            img,
            ion-icon,
            fa-icon {
                width: 22px;
                height: 22px;
                font-size: 16px;
                border-radius: 50%;
                color: var(--ion-contrast);
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p,
            ion-label {
                font-size: 14px;
                font-weight: bold;
                color: #000;
                margin: 0 10px;
            }
        }

        .element:hover {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            background-color: #a7a7a7;
        }
    }
}

// Mixin para responsividade da folha (sheet) em telas maiores
@mixin sheet-responsive($min-width: 768px, $height: 400px) {
    @media screen and (min-width: $min-width) {
        .sheet {
            height: $height;
        }
    }
}

// Aplicando os mixins
form {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include form-style;
}

.sheet {
    height: 100%;
    @include sheet-style;
}

@include sheet-responsive;
