@import "../../../mixins/forms.mixin.scss";

* {
    font-family: "Inria Sans";
}

ion-title {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 0;
}
ion-header,
ion-toolbar {
    --background: var(--ion-item-background);
}
ion-grid {
    margin: 0;
    padding: 0;

    ion-row {
        gap: 10px;
        justify-content: space-between;
        text-wrap: nowrap;
        margin-bottom: 10px;
    }

    ion-col {
        padding: 0;
    }
}

ion-segment {
    height: 100% !important;
}

.segment-button {
    color: var(--ion-contrast);
    font-size: 14px;
}

.segment-button:hover ion-label {
    color: #000;
    font-weight: bolder;
}

.icon-category {
  font-size: 18px;
}
// Para os icones
.sheet-content {
    display: flex;
    overflow: auto;
    gap: 10px;
    padding: 5px 10px;
    flex-direction: column;
    height: 95%;

    //TITULO DA CATEGORIA
    h3 {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .icon-items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .icon-item:hover {
        border-color: var(--ion-color-primary);
    }

    .icon-item {
        width: 40px;
        height: 40px;

        background-color: var(--ion-item-background);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
    }
}