<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="categoryForm">
    <div class="container-item">
      <label position="stacked">Nome</label>
      <ion-input type="text" formControlName="nome" class="custom-input"></ion-input>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="container-item">
            <label position="stacked">Tipo</label>
            <ion-segment formControlName="tipo" class="custom-input">
              <ion-segment-button value="despesa" class="segment-button">
                <ion-label>
                  Despesa
                </ion-label>
              </ion-segment-button>
              <ion-segment-button value="receita" class="segment-button">
                <ion-label>
                  Receita
                </ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="container-item" id="open-modal-icon" expand="block">
      <label position="stacked">Icone</label>
      <div class="custom-input" style="display: flex; align-items: center;">
        <!-- Exibe o ícone selecionado -->
        <fa-icon *ngIf="selectedIcon" [icon]="getSelectedIcon()" class="icon-category"></fa-icon>
        <!-- Texto de fallback -->
        <p style="margin: 0;" *ngIf="!selectedIcon">Selecione um ícone</p>
      </div>
    </div>
    

    <button [disabled]="categoryForm.invalid" (click)="submitCategory()" class="submit-button">Editar
      Categoria</button>
  </form>

  <ion-modal trigger="open-modal-icon" [initialBreakpoint]="1" [breakpoints]="[1]" class="modal-icons">
    <ng-template>
      <div class="sheet">
        <div class="sheet-header">
          <p>Ícones</p>
        </div>
        <div class="sheet-content">
          <div *ngFor="let group of iconsGrouped" class="icon-group">
            <h3>{{ group.title }}</h3>
            <div class="icon-items">
              <div *ngFor="let icon of group.items" class="icon-item" (click)="selectIcon(icon)">
                <fa-icon [icon]="icon.icon"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>