<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nova Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="accountForm">
    <div class="container-item" (click)="toggleSheet('institution')">
      <label position="stacked">Instituição</label>
      <div class="custom-input" style="display: flex; align-items: center;">
        <p style="margin: 0;"> {{ selectedInstitution || 'Selecione uma instituição' }} </p>
      </div>
    </div>

    <div class="container-item">
      <label position="stacked">Nome</label>
      <input formControlName="name" class="custom-input" type="text">
    </div>
    <div class="container-item" (click)="toggleSheet('accountType')">
      <label position="stacked">Tipo</label>
      <div class="custom-input" style="display: flex; align-items: center;">
        <p style="margin: 0;"> {{ selectedAccountType || 'Tipo de conta' }} </p>
      </div>
    </div>

    <button [disabled]="accountForm.invalid" (click)="submitAccount()" class="submit-button">Adicionar Conta</button>
  </form>
</ion-content>

<!-- Background for closing sheets -->
<div class="back" *ngIf="isInstitutionSheetVisible || isAccountTypeSheetVisible" (click)="closeSheet()"></div>

<!-- Institution Sheet -->
<div class="sheet" [ngClass]="{'sheet-visible': isInstitutionSheetVisible}">
  <div class="sheet-header">
    <p>Instituições</p>
  </div>
  <div class="banks">
    <div class="bank" (click)="selectInstitution('Carteira')">
      <ion-icon name="wallet"></ion-icon>
      <p>Carteira</p>
    </div>
    <div *ngFor="let bank of bankLogos" class="bank" (click)="selectInstitution(bank.name)">
      <img *ngIf="bank.logoUrl" [src]="bank.logoUrl" alt="{{ bank.name }} Logo" />
      <p>{{ bank.name }}</p>
    </div>
  </div>
</div>

<!-- Account Type Sheet -->
<div class="sheet" [ngClass]="{'sheet-visible': isAccountTypeSheetVisible}">
  <div class="sheet-header">
    <p>Tipo de conta</p>
  </div>
  <div class="banks">
    <div class="bank" (click)="selectAccountType('corrente')">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      <p>Conta corrente</p>
    </div>
    <div class="bank" (click)="selectAccountType('carteira')">
      <fa-icon [icon]="faWallet"></fa-icon>
      <p>Carteira</p>
    </div>
    <div class="bank" (click)="selectAccountType('poupanca')">
      <fa-icon [icon]="faPiggyBank"></fa-icon>
      <p>Poupança</p>
    </div>
    <div class="bank" (click)="selectAccountType('investimentos')">
      <fa-icon [icon]="faArrowTrendUp"></fa-icon>
      <p>Investimentos</p>
    </div>
    <div class="bank" (click)="selectAccountType('outros')">
      <fa-icon [icon]="faEllipsis"></fa-icon>
      <p>Outros</p>
    </div>
  </div>
</div>
