@import '../../../mixins/forms.mixin.scss';

* {
    font-family: "Inria Sans";
}

ion-title {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 0;
}
ion-header,
ion-toolbar {
    --background: var(--ion-item-background);
}
ion-grid {
    margin: 0;
    padding: 0;

    ion-row {
        gap: 10px;
        justify-content: space-between;
        text-wrap: nowrap;
        margin-bottom: 10px;
    }

    ion-col {
        padding: 0;
    }
}

ion-segment {
    height: 100% !important;

}

.segment-button {
    color: var(--ion-contrast);
    font-size: 14px;
}

.segment-button:hover ion-label{
    color: #000;
    font-weight: bolder;
}

// Para os icones
.sheet-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px 10px;
    .icon-item {
        width: 35px;
        height: 35px;
    
        background-color: var(--ion-item-background);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 50%;
    }
}