<ion-header>
  <div>
    <ion-title>Gráficos</ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="pie" class="segment">
    <ion-segment-button value="pie" class="segment-button">
      <ion-icon name="pie-chart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bar" class="segment-button">
      <ion-icon name="bar-chart"></ion-icon>
        </ion-segment-button>
  </ion-segment>
  <div style="display: block;">
    <canvas baseChart [data]="barChartData" [options]="barChartOptions">
    </canvas>
  </div>
</ion-content>
