* {
  font-family: "Inria Sans";
}

.custom-tab-bar {
  background-color: var(--ion-item-background); /* Cor de fundo da barra */
  border-radius: 20px; /* Bordas arredondadas para toda a barra */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Sombra leve */

  padding: 7px 0px;

  display: flex;
  justify-content: space-evenly;
  border: none;
}

.direita,
.esquerda {
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

ion-tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 10px;
  width: 50px;
  max-width: 50px;

  --background: transparent; /* Remover fundo padrão */
  color: var(--ion-contrast);

  ion-label {
    font-weight: bold;
    font-size: 12px;

    right: 0;
    bottom: 17px;
    margin: 0;

    color: var(--ion-contrast);
  }

  ion-icon {
    width: 20px;
    height: 20px;
  }
}

.selected-tab {
  background-color: #bababa;
  min-width: 85px !important;
  padding: 5px 0 !important;
}

.add-button {
  border-radius: 5px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  height: 40px;
  width: 40px;

  padding: 0;
  margin: 0;
}

.custom-tab-bar .icon-add {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #32323261;

  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease-in-out;

}

.sheet {
  display: flex;
  height: 120px;
  z-index: 300;
  background-color: #fff;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transform: translateY(100%); /* Inicia fora da tela */
  transition: transform .25s ease-in-out; /* Adiciona transição */

  .block-left {
    display: flex;
    flex-direction: row;
    width: 70%;

    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .block-right {
    display: flex;
    flex-direction: column;
    width: 30%;

    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    border-left: 1px solid var(--ion-contrast);
  }

  .add-expense,
  .add-receive,
  .add-expense-card {
    width: 70px;
    height: 66px;

    font-weight: bold;
    padding: 7px;
    border-radius: 12px;
    background: rgba(172, 172, 172, 0.427451);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.373);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;

    p {
      margin: 0;
      font-size: 13px;
      text-transform: uppercase;
    }

    ion-icon {
      width: 22px;
      height: 22px;
    }
  }

  .add-expense {
    color: var(--ion-color-danger);
  }
  .add-receive {
    color: var(--ion-color-success);
  }
  .add-expense-card {
    color: var(--ion-color-warning);
  }

  .add-wallet, .add-account, .transfer {
    background: rgba(172, 172, 172, 0.427451);
    border-radius: 12px;
    font-weight: bold;
    width: 100px;
    height: 22px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;

    color: var(--ion-contrast);

    p {
      margin: 0;
      font-size: 13px;
      text-transform: uppercase;
    }

    ion-icon {
      width: 15px;
      height: 15px;
    }
  }

  .transfer {
    height: 45px;
    display: flex;
    flex-direction: column;
  }
}

.sheet-visible {
  transform: translateY(0); /* Move o sheet para dentro da tela */
}

ion-popover .popover-content {
  display: flex;
  flex-direction: column;
}

ion-popover ion-content ion-button {
    font-size: 13px;
    color: var(--ion-contrast);
    font-weight: bold;

    --background: var(--ion-item-background)
}