<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novo Cartão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="accountForm">
    <div class="container-item institution-item" (click)="toggleSheet()">
      <label position="stacked">Instituição</label>
      <div class="input-institution" class="custom-input" style="display: flex;align-items: center;">
        <p style="margin: 0;"> {{ selectedInstitution || 'Selecione uma instituição' }} </p>
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <div class="container-item">
            <label position="stacked">Limite</label>
            <ion-input formControlName="limit" class="custom-input" type="number" ></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div class="container-item">
            <label position="stacked">Dia de Fechamento</label>
            <ion-input formControlName="closing_day" class="custom-input" type="number" min="1" max="31"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="container-item">
      <label position="stacked">Nome</label>
      <ion-input formControlName="name" class="custom-input" type="text"></ion-input>
    </div>

    <button [disabled]="accountForm.invalid" (click)="submitAccount()" class="submit-button">Adicionar Cartão</button>
  </form>
</ion-content>

<div class="back" *ngIf="isSheetVisible" (click)="closeSheet()"></div>

<div class="sheet" [ngClass]="{'sheet-visible': isSheetVisible}">
  <div class="sheet-header">
    <p>Instituições</p>
  </div>

  <div class="banks">
    <div class="bank" (click)="selectInstitution('Carteira')">
      <ion-icon name="wallet"></ion-icon>
      <p>Carteira</p>
    </div>

    <div *ngFor="let bank of bankLogos" class="bank" (click)="selectInstitution(bank.logo_url)">
      <img *ngIf="bank.logo_url" [src]="bank.logo_url" alt="{{ bank.name }} Logo" />
      <p>{{bank.name}} </p>
    </div>
  </div>
</div>