/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// =========================== COLORS ===========================

// back: fff

// font primary: 171717
// font secondary 474747

// danger: D33232
// sucess: 269761

// back items/card: D9D9D9
// back-stroke: D6D6D6

// contrast: 262626

ion-datetime {
  color: #262626;
  background-color: #fdfdfd;
  box-shadow: none;
  border-radius: 10px;

  &::part(day) {
    border: 1px solid #000000; // Borda preta
    border-radius: 50%; // Forma circular
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center; // Centraliza o texto no círculo
  }

  &::part(month-year) {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff; // Texto branco
  }

  &::part(active) {
    background-color: #4caf50; // Fundo verde para a seleção ativa
    color: #ffffff; // Texto branco
  }

  &::part(column) {
    background-color: #f0f0f0; // Fundo cinza claro para os seletores
    border-radius: 8px;
    padding: 8px;
  }
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    :root.md {
        --ion-color-primary: #262626;
        --ion-color-primary-contrast-rgb: #fff;
        --ion-color-primary-contrast: #fff;

        --ion-background-color: #f0f0f0f6;
        --ion-toolbar-background: #fff;
        --ion-text-color: #171717;
        --ion-text-color2: #474747;

        --ion-border-color: #38383859;

        --ion-color-success: #269761;
        --ion-color-danger: #d33232;

        --ion-card-background: #fdfdfd;
        --ion-item-background: #fdfdfd;

        --ion-color-warning: rgb(235, 125, 62);
        --ion-contrast: #262626;
        --color-hover: #080808;
    }
}

ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }